<!DOCTYPE html>
<html lang="en-AU">
<head>
  <title>Lilly Piri</title>
  <meta property="og:title" content="#<%= tag %> - Lilly Piri" />
  <meta name="description" content="Posts tagged with #<%= tag %>" />
  <meta property="og:description" content="Posts tagged with #<%= tag %>" />
  <meta property="og:image" content="" />
  <meta property="og:url" content="https://lillypiri.com/tags/<%= tag %>" />
  <meta name="author" content="Lilly Piri" />

  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"  />
  <link type="image/png" href="/favicon.png" rel="icon" />
</head>

<body>

<aside>
  <a href="/">Lilly Piri</a>
</aside>

<main class="tag">
  <header>
    <h1>#<%= tag %></h1>
  </header>
  <ul>
    <% posts.forEach(post => { %>
      <li><a href="/<%= post.slug %>"><%= post.title %></a></li>
    <% }); %>
  </ul>
</main>

<%- include('footer') %>

</body>

</html>